<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="body>">
  <h2> User info</h2>
  <div class="container">
    <%= form_for(@user) do |f| %>
    <div class="form-group has-icon">
      <h4>Name</h4>
      <label class="control-label sr-only" for="inputEmail">Name</label>
      <%= f.text_field :name %>
      <h4>Image</h4>
      <%= f.attachment_field :profile_image %>
      <h4>Introduction</h4>
      <%= f.text_field :introduction %>
      <br>
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
