<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/list', user: @book.user %>
			<%= render 'users/list2', book: @book %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
		            <tr>
		            	<td><%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg',fallback: 'no_image.jpg',size: '40x40' %></td>
			            <td><%= @book.title %></td>
			            <td><%= @book.opinion %></td>
			            <td><%= link_to "edit",edit_book_path(@book.id), class: "edit_book_#{@book.id}" %></td>
			            <td><%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "destroy_book_#_{@book.id}"%></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>