<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Bookers 2</title>
</head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <h4 class="bookers">Bookers</h4>
        </div>
              <ul class="navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to " Home", user_path(current_user), class: "glyphicon glyphicon-home home" %></li>
                <li><%= link_to " Users", users_path, class: "glyphicon glyphicon-user users" %></li>
                <li><%= link_to " Books", books_path, class: "glyphicon glyphicon-book books"%></li>
                <li><%= link_to " Log out", destroy_user_session_path,method: :delete,class: "glyphicon glyphicon-log-out logout"%></li>

                <% else %>
                <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home home" %></li>
                <li><%= link_to " About", about_path, class: "glyphicon glyphicon-link about" %></li>
                <li><%= link_to " Sign up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up"%></li>
                <li><%= link_to " Log in", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in"%></li>
                <% end %>
               </ul>
        </div>
      </nav>
        <%= yield %>

        <footer>
          <p>CopyRight Infratop.inc</p>
        </footer>
      </body>
</html>
